@model IEnumerable<Prodavalnik.Models.ViewModels.Admin.ReportViewModel>
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>
<ul class="nav nav-pills">
    <li class="active"><a href="/admin/reports">Unread</a></li>
    <li><a href="/admin/reports/read">Read</a></li>
</ul>
<div>
    @foreach (var report in Model)
    {
        <div class ="panel panel-default">
            <div class="panel-body">
                <div class="inline"><strong>Reason: </strong>@report.Reason</div>
                <div class="inline"><strong>Ad Title: </strong>@report.ReportedAd.Title <a href="/ad/@report.ReportedAd.Title">View</a></div>
                <div class="inline">
                    @using (@Html.BeginForm("Reports","Admin", FormMethod.Post, new {@Class = "form-inline inline"}))
                    {
                        @Html.Hidden("ReportId",report.Id)
                        <div class="form-group">
                            <input type="submit" value="Read" class="btn btn-danger btn-xs"/>
                        </div>
                    }
                </div>
            </div>
            @if (!string.IsNullOrEmpty(report.ReportInfo))
            {
                <div class="panel-footer">
                    <div class="inline"><strong>Report info: </strong>@report.ReportInfo</div>
                </div>
                }
        </div>
    }
</div>