@using Prodavalnik.Models.ViewModels.Account
@model Prodavalnik.Models.ViewModels.Account.LoginViewModel
@{
    ViewBag.Title = "Вход";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <hr/>
    <div class="col-md-12">
        <div class="col-md-10 col-md-offset-5">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
        <br/>
        <div class="col-md-5 col-md-offset-6">
            <span class="span-or">ИЛИ</span>
        </div>
        <br/>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    <div class="col-md-12 col-md-offset-5">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "Имейл"})
                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-md-offset-5">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Парола"})
                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-5">
                        <div class="checkbox checkbox-info">
                            @*                            @Html.CheckBoxFor(m => m.RememberMe, new{ id = "checkbox"})*@
                            <input id="checkbox" type="checkbox" checked>
                            @Html.Label("запомни ме")

                            @Html.ActionLink("Забравена парола?", "ForgotPassword")

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-12">
                        <input type="submit" value="Вход" class="btn btn-info btn-block"/>
                    </div>
                </div>
                <div class="col-md-offset-5 col-md-12">
                    <p>
                        @Html.ActionLink("Регистрация", "Register")
                    </p>
                </div>

                @* Enable this once you have account confirmation enabled for password reset functionality*@

            }
        </section>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}