@model Prodavalnik.Models.ViewModels.Ads.AdsViewModel
@{
    ViewBag.Title = "Index";
}
@Html.Partial("_SearchBox", Model.Categories)
<div class="container">
    @if (Model.previewAdViewModels.Count() == 0)
    {
        <h4>Не намерихме обяви по твоето търсене. <span>Провери изписването на думите или опитай с по-общо търсене</span>
        </h4>
    }
    else
    {
        <h3>Намерени @Model.previewAdViewModels.Count() обяви</h3>
    }

    @foreach (var ad in Model.previewAdViewModels)
    {
        <div class="row">
            <div class="col-md-10">
                <div class="title-style"><a href="/ad/@ad.Title">@ad.Title</a></div>
                @if (ad.Images.Count() != 0)
                {
                    <img src="../../UploadsImages/@ad.Images.First().ImageName" alt="@ad.Title"/>
                }
                else
                {
                    <img src="http://www.trueviewaz.com/wp-content/uploads/2016/12/no-image.jpg" alt="@ad.Title"/>
                }
                <div class="list-inline">
                    <div><a href="category/@ad.CategoryName">@ad.CategoryName</a>
                    </div>
                </div>
                <div class="list-inline">
                    <div>@ad.PublishOn.ToShortDateString()</div>
                </div>
            </div>
        </div>
        <hr/>
    }
</div>

