@using System.Globalization
@model Prodavalnik.Models.ViewModels.Ads.AdsViewModel
@{
    ViewBag.Title = "Index";
}
@Html.Partial("_SearchBox", Model.Categories)
<div class="container">
    @if (Model.previewAdViewModels.Count() == 0)
    {
        <h4>Не намерихме обяви по твоето търсене. <span>Провери изписването на думите или опитай с по-общо търсене</span>
        </h4>
    }
    else
    {
        <h3>Намерени @Model.previewAdViewModels.Count() обяви</h3>
    }
    <hr/>
    @foreach (var ad in Model.previewAdViewModels)
    {
        <div class="row">
            <div class="col-md-11">
                <div class="panel-box">
                    <div class="img-box">
                        @if (ad.Images.Count() != 0)
                        {
                            <img src="../../UploadsImages/@ad.Images.First().ImageName" alt="@ad.Title" class="category-img" />
                        }
                        else
                        {
                            <img src="http://www.trueviewaz.com/wp-content/uploads/2016/12/no-image.jpg" alt="@ad.Title" class="category-img"/>
                        }
                    </div>
                    <div class="category-ad-info">
                        <div class="category-ad-title"><a href="/ad/@ad.Title">@ad.Title</a></div>
                        <div class="category-ad-category">
                            @ad.CategoryName
                        </div>
                        <div class="category-ad-data">
                            @ad.PublishOn.ToString("dd MMMM yyyy", new CultureInfo("bg-BG"))
                        </div>
                    </div>
                    <div class="category-ad-price">
                        @ad.Price лв.
                    </div>
                </div>
            </div>
        </div>
    }
</div>

