@using System.Globalization
@model Prodavalnik.Models.ViewModels.Ads.AdMessageDetailsViewModel
@{
    ViewBag.Title = "Изпрати съобщение";
}

<div class="container-message">
    <div class="message-ad-title">
        <h2>@Model.Title</h2>
    </div>
    <div class="price-ad-message">
        <div>@Model.Price лв.</div>
    </div>
    <hr />
    <div>
        <div>
            <span>Номер на обявата: @Model.Id</span>
            <span class="data-details">Добавена в @Model.PublishOn.ToString("HH:mm"), @Model.PublishOn.ToString("dd MMMM yyyy", new CultureInfo("bg-BG"))</span>
        </div>
    </div>
    <div class="message-form">
        <h4>Твоето съобщение</h4>
        <hr class="dash" />
        <div class="message-phone"><span class="glyphicon glyphicon-phone"></span>@Model.Author.PhoneNumber</div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.TextArea("messageContent", new { @class = "form-control message-textarea" })
            </div>
            @Html.Hidden("AdName", new { adName = Model.Title })

            <div class="form-group">
                <input class="btn btn-info btn-message" type="submit" value="Изпрати" />
            </div>
        }
    </div>
</div>



