@using System.Globalization
@model Prodavalnik.Models.ViewModels.Categories.CategoryWithAdsViewModel

@{
    ViewBag.Title = "Category";
}

@Html.Partial("_SearchBox", Model.Categories)

<h3>Нови обяви</h3>
<h5>Намерени @Model.Ads.Count() обяви</h5><hr />
<div class="container" id="box">
    
    @foreach (var ad in Model.Ads)
    {
        <div class="row">
            <div class="col-md-11">
                <div class="panel-box">
                        <div class="img-box">
                            @if (ad.Images.Count() != 0)
                            {
                                <img src="../../UploadsImages/@ad.Images.First().ImageName" alt="@ad.Title" class="category-img" />
                            }
                            else
                            {
                                <img src="http://www.trueviewaz.com/wp-content/uploads/2016/12/no-image.jpg" alt="@ad.Title" class="category-img" />
                            }
                        </div>
                    <div class="category-ad-info">
                        <div class="category-ad-title"><a href="/ad/@ad.Title">@ad.Title</a></div>
                        <div class="category-ad-category">
                            @ad.CategoryName
                        </div>
                        <div class="category-ad-data">
                            @ad.PublishOn.ToString("dd MMMM yyyy",new CultureInfo("bg-BG"))
                        </div>
                    </div>
                    <div class="category-ad-price">
                        @ad.Price лв.
                    </div>
                    </div>
                </div>
            </div>
    }
</div>

