@using System.Globalization
@model IEnumerable<Prodavalnik.Models.ViewModels.User.MessageViewModel>
@{
    ViewBag.Title = "Messages";
}

<h2>Съобщения</h2>

<div class="container">
    <ul class="nav nav-tabs">
        <li><a href="/profile">Обяви</a></li>
        <li class="active"><a href="/profile/messages">Съобщения</a></li>
        <li><a href="/profile/settings">Настройки</a></li>
    </ul>

    <div class="tab-content">
        <ul class="nav nav-pills">
            <li class="disabled"><a href="/profile/messages">Получени</a></li>
            <li><a href="/profile/messages/send">Изпратени</a></li>
        </ul>
        <div class="tab-pane fade in active">
            <h3>Входящи</h3>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Подател</th>
                        <th>Обява</th>
                        <th>Дата</th>
                    </tr>
                    @foreach (var message in Model)
                    {
                        <tr>
                                <td>@message.Sender.Email.Substring(0, @message.Sender.Email.IndexOf("@"))</td>
                                <td><a href="/profile/message/@message.Id" class="message-link">@message.Ad.Title <br /> @message.Content</a></td>
                                <td>
                                    @if (@message.DateOfSent.Date == DateTime.Today)
                                    {
                                        <span>днес, @message.DateOfSent.ToString("HH:mm")</span>
                                    }
                                    else
                                    {
                                        <span>@message.DateOfSent.Date.ToString("M", new CultureInfo("bg-BG"))</span>
                                    }
                                </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</div>

